@font-face {
    font-family: 'Iconfont';
    src: url('./icon-font.woff') format('woff');
    font-weight:500;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'Iconfont', sans-serif;
    background: url("./bg.jpg");
}